<po-toolbar p-title="Extrato Contábil - COPERSUCAR"></po-toolbar>

<po-page-dynamic-search
  p-title=""
  (p-quick-search)="buscaconsolidado($event)"
  (p-change-disclaimers)="clickDisclaimers($event)"
  (p-advanced-search)="realizaBuscaAvancada($event)"
  [p-actions]="opcoesTela"
  [p-filters]="filtroBuscaAvancada"

>

  <po-table
    #tableconsolidado
    [p-columns]="colunasDaTabela"
    [p-items]="itensDaTabela"
    [p-actions]="acoesTabela"
    [p-loading]="carregandoTabela"
    [p-selectable-entire-line]="false"
      [p-selectable]="true"
      [p-hide-select-all]="false"
      [p-single-select]="false"
      [p-sort]="true"
      [p-striped]="true"
  ></po-table>
</po-page-dynamic-search>

<po-modal
  p-title="Manutenção de consolidado"
  [p-primary-action]="confirmarModal"
  [p-secondary-action]="cancelarModal"
>
  <po-dynamic-form
    #dynamicForm
    [p-fields]="formularioconsolidado"
    [p-value]="consolidado"
  >
  </po-dynamic-form>
</po-modal>

